:root {
    --gray-medium: #999999;
    --gray-light: #777777;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-medium);
}

.qr-code__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 20rem;
    min-height: 30.625rem;
    margin-block-start: auto;
    padding: clamp(0.75rem, 2vw, 1.125rem);
    background-color: white;
    border-radius: 0.5rem;
}

.qr-code__background {
    width: 18rem;
    height: 18rem;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.4rem;
}

.qr-code__heading {
    margin-top: 1.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
}

.qr-code__content p {
    margin-top: 1.5rem;
    padding: 0 1rem;
    font-size: 0.95rem;
    text-align: center;
    font-weight: 100;
    color: var(--gray-light);
}

.qr-code__img {
    display: block;
    width: auto;
    max-width: 10rem;
    height: auto;
    max-height: 10rem;
}