.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #999999;
}

.qr-code__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 499px;
    margin-top: auto;
    padding: 18px;
    background-color: white;
    border-radius: 0.5rem;
}

.qr-code__background {
    width: 288px;
    height: 288px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.4rem;
}

.qr-code__heading {
    margin-top: 1.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
}

.qr-code__content p {
    margin-top: 1.5rem;
    padding: 0 1rem;
    font-size: 0.95rem;
    text-align: center;
    font-weight: 100;
    color: #777777;
}

.qr-code__img {
    width: 160px;
    height: 160px;
}